/* Estilo para a seção Sobre Nós */
.sobre-nos {
    width: 100%;
    padding: 20px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Título da seção "Sobre Nós" */
.sobre-nos h2 {
    color: #6dbf8b; /* Verde Claro */
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 40px; /* Mais espaçamento abaixo do título */
}

/* Container de conteúdo */
.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30%; /* Espaço entre a imagem e o texto */
}

/* Coluna para a imagem */
.imagem {
    flex: 1;
    max-width: 400px; /* Limite para a largura da imagem */
    padding: 10px;
}

.imagem img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover; /* Ajuste a imagem sem distorção */
    height: 80vh; /* Imagem maior */
}

/* Coluna para o texto */
.texto {
    flex: 1;
    padding: 20px;
    text-align: left;
}

/* Título do projeto Otneve */
.texto h3 {
    color: #003366; /* Azul Escuro */
    font-size: 3rem; /* Tamanho grande */
    font-weight: bold;
    margin-bottom: 20px;
}

/* Parágrafos de descrição */
.texto p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Spans em retângulos pequenos */
.spans-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.span-item {
    background-color: #f0f0f0;
    padding: 8px 16px;
    border-radius: 5px;
    color: #333;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    flex: 1;
    margin: 0 5px;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsividade para telas menores */
@media (max-width: 767px) {
    .conteudo {
        flex-direction: column; /* Coloca imagem e texto em colunas empilhadas */
        align-items: center;
    }

    .imagem,
    .texto {
        width: 100%;
        margin-bottom: 20px;
    }

    .spans-container {
        flex-direction: column;
    }

    .span-item {
        margin-bottom: 10px;
    }
}
